<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.his.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.woniu.his.pojo.Admin">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="credit_num" jdbcType="VARCHAR" property="creditNum" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="nation_id" jdbcType="INTEGER" property="nationId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="queryCondition">
    <if test="qv!=null">
      <if test="qv.adminName!=null and qv.adminName!=''">
        and admin_name like '%${qv.adminName}%'
      </if>
      <if test="qv.account!=null and qv.account!=''">
        and account=#{qv.account}
      </if>
      <if test="qv.password!=null and qv.password!=''">
        and password=#{qv.password}
      </if>
      <if test="qv.status!=null">
        and status=#{qv.status}
      </if>
      <if test="qv.hStatus!=null and qv.hStatus!=''">
        and status not in ${qv.hStatus}
      </if>
    </if>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniu.his.pojo.Admin">
    insert into admin (admin_id, account, admin_name,
      address, create_time, credit_num,
      dept_id, flag, level_id,
      nation_id, password, phone_num,
      photo_url, sex, status
      )
    values (#{adminId,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{creditNum,jdbcType=VARCHAR},
      #{deptId,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, #{levelId,jdbcType=INTEGER},
      #{nationId,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR},
      #{photoUrl,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.woniu.his.pojo.Admin">
    update admin
    set account = #{account,jdbcType=VARCHAR},
      admin_name = #{adminName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      credit_num = #{creditNum,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      level_id = #{levelId,jdbcType=INTEGER},
      nation_id = #{nationId,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="adminVo">
    select *
    from admin a,nation n,department d,level l
    where a.admin_id = #{adminId,jdbcType=INTEGER}
    and a.nation_id=n.nation_id and a.dept_id=d.dept_id and a.level_id=l.level_id
  </select>
  <select id="selectAll" resultType="adminVo">
    select * from admin a,nation n,department d,level l
    where a.nation_id=n.nation_id and a.dept_id=d.dept_id and a.level_id=l.level_id
  </select>
  <select id="selectByAdminQueryVo"  resultType="adminVo">
    select * from admin a,nation n,department d,level l
    where a.nation_id=n.nation_id and a.dept_id=d.dept_id and a.level_id=l.level_id
    and flag=1
     <include refid="queryCondition"></include>


  </select>
</mapper>
