<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.his.mapper.AppointmentMapper">
  <resultMap id="BaseResultMap" type="com.woniu.his.pojo.Appointment">
    <id column="appo_id" jdbcType="INTEGER" property="appoId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="appo_time" jdbcType="TIMESTAMP" property="appoTime" />
    <result column="bed_id" jdbcType="INTEGER" property="bedId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="queryCondition">
    <if test="qv!=null">
      <if test=""></if>
    </if>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from appointment
    where appo_id = #{appoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniu.his.pojo.Appointment">
    insert into appointment (appo_id, admin_id, appo_time,
      bed_id, create_time, flag,
      status, user_id)
    values (#{appoId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{appoTime,jdbcType=TIMESTAMP},
      #{bedId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=INTEGER},
      #{status,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.woniu.his.pojo.Appointment">
    update appointment
    set admin_id = #{adminId,jdbcType=INTEGER},
      appo_time = #{appoTime,jdbcType=TIMESTAMP},
      bed_id = #{bedId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where appo_id = #{appoId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="appointmentVo">
    select *
    from appointment a,t_user u,admin ad,bed b
    where a.user_id=u.user_id and a.admin_id=ad.admin_id and a.bed_id=b.bed_id
    and appo_id = #{appoId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="appointmentVo">
     select *
    from appointment a,t_user u,admin ad,bed b
    where a.user_id=u.user_id and a.admin_id=ad.admin_id and a.bed_id=b.bed_id
  </select>
  <select id="selectAllNoBed" resultType="appointmentVo">
     select *
    from appointment a,t_user u,admin ad,bed b
    where a.user_id=u.user_id and a.admin_id=ad.admin_id and a.bed_id=b.bed_id and a.bed_id=0 and a.flag=1
  </select>
  <select id="selectAllNoBedByDatetime" resultType="appointmentVo">
     select *
    from appointment a,t_user u,admin ad,bed b
    where a.user_id=u.user_id and a.admin_id=ad.admin_id and a.bed_id=b.bed_id and a.bed_id=0 and a.flag=1
    and a.create_time between #{startTime} and #{endTime}
  </select>
  <select id="selectAllBed" resultType="appointmentVo">
     select *
    from appointment a,t_user u,admin ad,bed b
    where a.user_id=u.user_id and a.admin_id=ad.admin_id and a.bed_id=b.bed_id and a.bed_id != 0 and a.flag=1
  </select>
  <select id="selectAllBedByDatetime" resultType="appointmentVo">
     select *
    from appointment a,t_user u,admin ad,bed b
    where a.user_id=u.user_id and a.admin_id=ad.admin_id and a.bed_id=b.bed_id and a.bed_id != 0 and a.flag=1
    and a.create_time between #{startTime} and #{endTime}
  </select>
  <select id="selectByAppointmentQueryVo" resultType="appointmentVo">
     select *
    from appointment a,t_user u,admin ad,bed b
    where a.user_id=u.user_id and a.admin_id=ad.admin_id and a.bed_id=b.bed_id
    <include refid="queryCondition"></include>
  </select>
</mapper>
