<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.his.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.woniu.his.pojo.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniu.his.pojo.Order">
    insert into t_order (order_id, create_time, total_price,
      status, flag)
    values (#{orderId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{totalPrice,jdbcType=DOUBLE},
      #{status,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.woniu.his.pojo.Order">
    update t_order
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <sql id="queryCondition">
    <if test="qv!=null">
      <if test=""></if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="orderVo">
    select order_id, create_time, total_price, status, flag
    from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="orderVo">
    select order_id, create_time, total_price, status, flag
    from t_order
  </select>
  <select id="selectByOrderQueryVo" resultType="orderVo">
    <include refid="queryCondition"></include>
  </select>
</mapper>
